@charset "UTF-8";
@font-face{
    font-family: Rubik;
    src: url('../fonts/Rubik-Regular.ttf')
}
@font-face {
   font-family: Samsung;
   src: url('../fonts/SamsungSharpSansRegular-Regular.ttf')
}
 * {
     margin: 0;
     padding: 0;
     font-family: Rubik;
     overflow-x: hidden;
 }
*::-webkit-scrollbar {
   width: .5vw;
   background-color: #a80b40;
}
*::-webkit-scrollbar-thumb {
   background-color: #ed145b;
   border-radius: .5vw;
}
span { color: #ed145b; }
a { text-decoration: none; }
.titulo {
   cursor: default;
   font-size: 4vw;
   text-align: center;
   margin: 5vw auto;
}
 header {
    position: absolute;
    width: 100%;
    max-height: 4vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    z-index:2;
    background-color: transparent;
    transition: background-color .3s, top .4s;
    overflow: hidden;
 }
 .menu-bar {
   position: fixed !important;
   background-color: #151819;
   top:-4vw
 }
 div#cabecalho {
    display: flex;
    align-items: center;
    margin-left: 1vw;
    margin-top: .8vw;
    margin: .8vw 1vw
 }
 div#cabecalho > img {
    width: 3.5vw;
    margin-top: -.6vw
 }
 div#cabecalho > h1 {
    width: 100%;
    font-family: Samsung;
    font-size: 1.2vw;
    padding-top: .2vw;
    pointer-events: none;
    color: white;
    transition: opacity .5s;
    overflow: hidden;
 }
 div#menu-itens ul {
    margin-top: .8vw;
    cursor: default
 }
 div#menu-itens ul li {
    display: inline-block;
    margin: auto 1vw;
    color: #cacaca;
    opacity: 0;
    transition: opacity .5s;
    position: relative;
    padding-bottom: .5vw;
    font-size: 1vw;
    transition: color .3s, opacity .5s;
 }
 div#menu-itens ul li::after{
    content: "";
    height: .08vw;
    width: 0vw;
    background-color: #ed145b;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .4s
 }
 div#menu-itens ul li:hover::after{
    width: 60%;
 }
 div#menu-itens ul li:hover {color: white}
a#btnLogin {
   cursor: pointer;
   color: white;
   text-decoration: none;
   margin-right: 1vw;
   background-color: #ed145b;
   padding: .5vw 1vw;
   font-size: .9vw;
   letter-spacing: .2vw;
   transition: box-shadow .2s linear;
}
a#btnLogin:hover {
   box-shadow: 0 0 1vw #be114b
}
div#user {
   color: white;
   display: flex;
   align-items: center;
   margin-right: 1vw;
   cursor: pointer;
}
div#user img {
   width: 2.5vw;
   border-radius: 50%;
}
div#dashboard {
   position: fixed;
   z-index: 1;
   right: .5vw;
   top: 4vw;
   background-color: #151819;
   display: none;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   border-radius: .5vw;
   box-shadow: 0 .5vw 1vw rgba(0,0,0,0.5);
}
.flex {display:flex !important;}
div#dashboard .btnDash {
   background-color: #ed145b;
   padding: .5vw;
   border-radius: .5vw;
   width: 100%;
   color: white;
   text-align: center;
   margin: 1.5vw 1vw 1vw 1vw;
}
div#dashboard .logout {
   margin-bottom: 1vw;
   color: white;
}
 div#apresentacao{
    background-color: #151819;
    background: url('../img/backgroundHome2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    pointer-events: none;
 }
 div#apresentacao p#developed{
   position: absolute;
   color:rgba(255,255,255,.3);
   bottom: .5vw;
   right: 1vw;
   font-family: Consolas;
 }
 div#texto-apresentacao{
    width: 35vw;
    margin-left: 5vw;
    max-height: auto;
    overflow: hidden;
    font-family: Rubik;
    color: white;
    pointer-events: visiblePainted;
 }
 div#texto-apresentacao > h1{
    font-size: 2.5vw;
    line-height: 3.5vw;
    margin-top: 3vw;
    transition: transform 1s !important;
 }
 div#texto-apresentacao p{
    font-family: Samsung;
    line-height: 1.9vw;
    font-size: 1.4vw;
    margin-bottom: 3vw;
    transition: transform 1s !important;
 }
 div#servicos {
    padding-bottom: 1vw;
    position: relative;
    padding-bottom: 4vw;
 }
 div#itens {
     width: 100vw;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: .5vw;
     box-sizing: border-box;
     background-color: white;
     z-index: 1;
 }
 div#itens > div {
     width: 9vw;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     padding: .5vw 0;
     transition: transform .5s, box-shadow .5s;
     border-radius: .5vw;
     text-align: center;
     /* cursor: pointer; */
     pointer-events: none;
     margin: 0 .3vw;
 }
 /* div#itens > div:hover {
   box-shadow: .04vw .65vw .5vw rgba(0,0,0,0.3);
   transform: translate3d(0, -.5vw, 0)
 } */
 .shadow {
    box-shadow: .04vw .65vw .5vw rgba(0,0,0,0.3);
    transform: translate3d(0, -.5vw, 0)
}
.small {height: 80% !important;}
 div#itens div h1 {
    text-align: center;
    color: #151819;
    font-size: 1.1vw;
    margin: .5vw;
    width: 100%;
 }
 div#itens div img {
     width: 3vw;
     pointer-events: none;
 }
 div#itens button {
    background-color: white;
    font-size: 3vw;
    height: 3.5vw;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 .5vw;
    overflow: hidden;
 }
 div#displayServico {
    width: 540%;
    height: 25vw;
    display: flex;
    align-items: center;
    margin-top: 1vw;
    margin-left: 10vw;
    transition: transform 1s;
    position: relative;
    padding: 1vw 0;
    /* box-shadow: 0vw .3vw .8vw rgba(0,0,0,0.5); */
    /* position: absolute; */
 }
 div.serv {
    width: 70vw;
    margin: 0 5vw;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5vw;
    transition: height .5s;
    box-shadow: 0vw .3vw .8vw rgba(0,0,0,0.5);
   }
   div.serv > div.textoServ {
      box-sizing: border-box;
      padding: 1vw 1.5vw;
      transition: opacity .5s;
      width: 55%
   }
   div.serv h1 {
    font-size: 1.5vw;
    margin: .5vw 0;
    color: #cacaca;
    text-align: center;
    text-shadow: .2vw .2vw .2vw black
 }
 div.serv p {
    font-size: 1.2vw;
    color: white;
    text-align: justify;
    text-shadow: .2vw .2vw .2vw black;
    padding: 0 .5vw
 }
 [data-animation]{
   opacity: 0;
   transition: transform .5s, opacity .5s;
 }
 [data-animation="top"]{
   transform: translate3d(0, 4vw, 0);
}
 [data-animation="bottom"]{
   transform: translate3d(0, -4vw, 0);
}
[data-animation].animate {
   transform: translate3d(0, 0, 0);
   opacity: 1;
}
div#empresa {
   color: white;
   background-color: black;
   border-top: .1vw solid #cacaca;
   padding-bottom: 3vw
}
div#equipe{
   width: 75vw;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
}
div#equipe > div {
   display: flex;
   align-items: center;
   flex-basis: 33vw;
   margin: 2.5vw auto;
}
div#equipe img {
   width: 6vw;
   border-radius: 50%;
}
div#equipe img.hover {
   margin-left: 1.5vw;
   width: 3vw;
   box-sizing: border-box;
   opacity: 0;
   transition: opacity 1s, transform .5s;
   position: absolute;
}
div#equipe div > div > h1 {
   color: #4C4C4C;
   margin-left: 1.5vw;
   padding-right: 7vw;
   font-size: 1.5vw;
   cursor: default;
   opacity: 0;
   transition: opacity .5s
}
div#equipe p {
   margin-left: 1.5vw;
   font-size: 1.2vw;
   cursor: default;
}
.translateEquipe {transform: translateX(6.5vw); transition: transform .5s}

div#mvv{
   padding-bottom: 3vw;
   border-top: .1vw solid #cacaca;
}
div#mvv div {
   display: flex;
   justify-content: center;
   align-items: center;
   border-bottom : .05vw solid rgba(0,0,0,0.3);
   padding: 5vw 0;
   width: 80%;
   margin: auto;
}
div#valores {border: none !important}
div#mvv img{
   width: 8vw;
   margin: 0 5vw;
}
div#mvv p {
   font-size: 1.5vw;
   width: 61%;
   color: #4C4C4C
}

div#contato {
   background-color: #090a0d;
   width: 100%;
}
div#info-contato {
   width: auto;
   margin: 5vw;
   color: white;
}
div#form {
   display: flex;
   flex-wrap: wrap;
}
.input {
   width: 55% !important;
   margin: 1vw auto;
   padding-left: 1vw;
   box-sizing: border-box;
   height: 3.5vw;
   border: .15vw solid #cacaca;
   border-radius: .5vw;
   font-size: 1vw;
   outline: none;
   transition: border-color .3s, background-color .3s;
}
textarea.input {
   padding-top: 1vw;
   min-height: 15vw;
   max-height: 25vw;
   resize: none;
}
.input:focus {
   border-color: #ed145b;
}
.input:hover {
   background-color: #dddddd
}
input[type='submit'].input{
   background-color: #ed145b;
   border: none;
   cursor: pointer;
   font-weight: bold
}
input[type='submit'].input:hover {
   background-color: #be114b
}
div#telefone {
   flex-basis: 55%;
   display: flex;
   margin: auto;
}
div#telefone #ddd {
   width: 20% !important
}
div#telefone #numero {
   margin-left: 2vw;
   width: 76% !important
}
div#info-contato div#abs-contato {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 1.5vw;
}
div#info-contato div#abs-contato div{
   margin: 0 2.5vw;
   display: flex;
   align-items: center;
   padding-bottom: 3vw;
}
div#info-contato div#abs-contato p {
   margin-left: 1vw;
   font-size: 1vw;
   text-align: center
}
div#info-contato div#abs-contato img {
   width: 2.2vw;
   pointer-events: none;
   transition: transform .5s, opacity .4s;
}
[data-icon_contato]{
   transform: translateY(3vw);
   opacity: 0;
}
[data-icon_contato].animate2 {
   transform: translateY(0);
   opacity: 1;
}
div#suporte{
   padding-bottom: 4vw;
}
div.pergunta {
   width: 60vw;
   max-height: 1.5em;
   margin: 0 auto 1.5vw auto;
   padding: 1.5vw;
   color: #4C4C4C;
   border-bottom: .15vw solid #cacaca;
   font-size: .7vw;
   overflow: hidden;
   cursor: pointer;
   position: relative;
}
.color {color: #ed145b !important}
.maxHeight{max-height: 16em !important}
div.pergunta h1, div.pergunta span {font-family: Samsung;}
div.pergunta:hover > h1 {
   color: #ed145b
}
div.pergunta h1 span {
   font-size: 2.5vw;
   position: absolute;
   top:1vw;   
   right: 1vw;
   transition: transform .4s
}
.rotate {transform: rotate(45deg)}
div.pergunta p {
   margin-top: 1.5vw;
   font-size: 1vw;
   line-height: 1.8vw;
}

div#comentarios {
   background-color: #151819;
   width: 100%;
}
div#formcomment{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   color: white;
   padding-bottom: 4vw;
}
form#comentario {
   width: 35vw;
}
form#comentario input, form#comentario textarea, form#comentario select {width: 100% !important}
form#comentario input, form#comentario select {
   height: 2.5vw !important;
}
form#comentario p {
   display: inline-block;
   margin-bottom: -1vw;
   width: 100%;
   font-size: 1.2vw;
}
form#comentario button{
   background-color: #ed145b;
   border: none;
   cursor: pointer;
   font-weight: bold;
   padding-left: 0vw;
   width: 100% !important;
   height: 2.5vw;
}
form#comentario button:hover {
   background-color: #be114b
}
p.erro {
   color: red;
   visibility: hidden;
}
div#comments {
   width: 45vw;
   height: 35vw;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   padding-bottom: 4vw;
   box-shadow: 0 1.5vw 1.5vw rgba(0,0,0,0.5);
   border-radius: .5vw 0 0 .5vw;
   box-sizing: border-box;
   padding: 1vw 0;
}
div#comments::-webkit-scrollbar {
   background-color: rgba(0,0,0,0);
   width: .2vw;
}
div.roll {
   width: 20vw;
   background-color: #1d2122;
   margin: .8vw;
   font-size: .6vw;
   text-align: center;
   box-sizing: border-box;
   padding: 1vw;
   border-radius: .4vw;
   transition: transform 1s, background-color .3s;
   cursor: default;
   opacity: 0;
}
div.roll > h1 {color:#ed145b}
div.roll > h2 {
   font-size: 1vw;
   font-style: italic;
}
div.roll > p#msgComment {
   font-size: 1vw;
   text-align: left;
   margin: 1vw;
   color: #cacaca;
}
div.roll > p#horaComment {
   font-size: .8vw;
   text-align: right;
   position: absolute;
   bottom: .6vw;
   right: 1.5vw;
}
div.roll a img {
   width: 1vw;
   position: absolute;
   top: .8vw;
   right: 1vw;
   opacity: 0;
   transition: opacity .3s
}
div.roll:hover img {
   opacity: 1;
}
div.roll:hover {
   background-color: #2b3031;
}
[data-comment="left"]{
   transform: translate3d(-4vw, 0, 0);
}
[data-comment].animate4 {
   transform: translate3d(0, 0, 0) !important;
   opacity: 1 !important;
}
div#footer {
   width: 100%;
   background-color: #151819;
   color: #cacaca;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   font-size: 1vw;
   padding-bottom: 3vw
}
div#footer > img {
   width: 5vw;
   pointer-events: none;
}
div#parceiros {
   padding-bottom: 2vw;
   border-top: .1vw solid #cacaca;
   width: 100%;
   background-color: white
}
div#parceiros h1 {text-align: center; margin: 2vw 0}
div#partner {
   display: flex;
   justify-content: center;
   align-items: center;
}
div#partner img {
   width: 6vw;
   margin: 0 2vw;
}

div#login {
   width: 100vw;
   height: 100vh;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   z-index: 2;
   top: 0;
   left: 0;
   display: none;
   justify-content: center;
   align-items: center;
}
div#login.mostrar {display: flex}
div.login-container {
   width: 30%;
   height: 60%;
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   border-radius: 1vw;
   position: relative;
   padding-top: 1.5vw;
   box-sizing: border-box;
}
div.login-container img {
   width: 3.5vw;
   position: absolute;
   top:2vw;
   pointer-events: none;
}
div.login-container button {
   position: absolute;
   top: 1vw;
   right: 1vw;
   width: 2vw;
   height: 2vw;
   border-radius: 50%;
   border: .1vw solid #ed145b;
   background-color: transparent;
   color: #ed145b;
   cursor: pointer;
   font-size: 1vw;
   outline: none
}
div.login-container form {
   width: 70%;
   position: relative;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}
div.login-container form p {
   margin-bottom: -.7vw;
}
div.login-container form span {font-size: 1.2vw;}
div.login-container input {
   width: 100% !important;
   background-size: 2.5vw;
   background-repeat: no-repeat;
   background-position: left;
   padding-left: 3vw;
}
div.login-container input[type="submit"]{
   cursor: pointer;
   background-color: transparent;
   color: white;  
   border: .1vw solid #ed145b;
   padding: 0;
   height: 2.5vw;
   font-size: 1vw;
   transition: background-color .3s;
   outline: none;
}
div.login-container a {
   text-decoration: none;
}
div.login-container input[type="submit"]:hover {
   background-color: #ed145b;
}
