@font-face{
    font-family: Rubik;
    src: url('../fonts/Rubik-Regular.ttf')
}
*{
	margin: 0;
	padding: 0;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 100vh;
	font-family: Rubik;
}
.container {
  width: 40vw;
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container form {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
h1 {
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
	padding: .8vw 0;
	margin-bottom: 1.5vw;
	color: rgb(80,80,80);
}
h1::after{
	content: "";
	position: absolute;
	bottom: 0;
	height: .15vw;
	width: 25%;
	background-color: rgb(80,80,80);
}
input, select, textarea {
	font-family: Rubik;
	width:100%;
	border: .1vw solid #aaa;
	border-radius: .5vw;
	margin: .5vw 0;
	padding: 1vw;
	font-size:12pt;
	color:black;
	outline: none;
	box-sizing: border-box;
	transition: background-color .3s;
}
textarea {
	resize: vertical;
	min-height: 10vw
}
input:hover, input:focus, select:focus, select:hover, textarea:hover, textarea:focus {background-color: rgba(0,0,0,0.07);}
.botVermelho {
	margin-top: 1vw;
	width: 60%;
	cursor: pointer;
	background-color: #ed145b;
	border: none;
	color: white;
}
.botVermelho:hover {background-color: #cf1050;}

table {
    min-width:80vw;
    border-collapse: collapse;
	font-size: 1vw;
	margin-top: 2vw;
}
th {
	text-align: center;
	text-transform: uppercase;
    padding: .5vw 1vw;
    background-color:#ff71a1;
    border:none
}
td {
    padding: .5vw 1vw;
    text-align: center;
    margin: .5vw 0;
	border: none;
	max-width: 8vw;
}
tr:nth-child(2n+1) {
    background-color: rgb(222, 222, 222)
}
tr td a img{
    width:1.3vw
}
label {
	width: 100%;
	margin-left: .5vw;
	font-size: 1vw;
	color: rgb(55, 55, 55);
}