@charset "UTF-8";
@font-face{
    font-family: Rubik;
    src: url('../fonts/Rubik-Regular.ttf')
}
@font-face {
   font-family: Samsung;
   src: url('../fonts/SamsungSharpSansRegular-Regular.ttf')
}
 * {
     margin: 0;
     padding: 0;
     font-family: Rubik;
     overflow-x: hidden;
     scroll-behavior: smooth
 }
*::-webkit-scrollbar {
   width: .5vw;
   background-color: #a80b40;
}
*::-webkit-scrollbar-thumb {
   background-color: #ed145b;
   border-radius: .5vw;
   
}
span {
   color: #ed145b;
}
.titulo {
   cursor: default;
   font-size: 4vw;
   text-align: center;
   margin: 5vw auto;
}
 header {
    position: absolute;
    width: 100%;
    max-height: 4vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    z-index:2;
    background-color: transparent;
    transition: background-color .3s, top .4s;
    overflow: hidden;
 }
 .menu-bar {
   position: fixed !important;
   background-color: #151819;
   top:-4vw
 }
 div#cabecalho {
    display: flex;
    align-items: center;
    margin-left: 1vw;
    margin-top: .8vw;
    margin: .8vw 1vw
 }
 div#cabecalho > img {
    width: 3.5vw;
    margin-top: -.6vw
 }
 div#cabecalho > h1 {
    width: 100%;
    font-family: Samsung;
    font-size: 1.2vw;
    padding-top: .2vw;
    pointer-events: none;
    color: white;
    transition: opacity .5s;
    overflow: hidden;
 }
 div#menu-itens ul {
    margin-top: .8vw;
    cursor: default
 }
 div#menu-itens ul li {
    display: inline-block;
    margin: auto 1vw;
    color: #cacaca;
    opacity: 0;
    transition: opacity .5s;
    position: relative;
    padding-bottom: .5vw;
    font-size: 1vw;
    transition: color .3s, opacity .5s;
 }
 div#menu-itens ul li::after{
    content: "";
    height: .08vw;
    width: 0vw;
    background-color: #ed145b;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .4s
 }
 div#menu-itens ul li:hover::after{
    width: 60%;
 }
 div#menu-itens ul li:hover {color: white}
a#login {
   color: white;
   text-decoration: none;
   margin-right: 1vw;
   background-color: #ed145b;
   padding: .5vw 1vw;
   font-size: .9vw;
   letter-spacing: .2vw;
   transition: box-shadow .2s linear;
}
a#login:hover {
   box-shadow: 0 0 1vw #be114b
}
 div#apresentacao{
    background-color: #151819;
    background: url('../img/backgroundHome2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    pointer-events: none;
 }
 div#apresentacao p#developed{
   position: absolute;
   color:rgba(255,255,255,.3);
   bottom: .5vw;
   right: 1vw;
   font-family: Consolas;
 }
 div#texto-apresentacao{
    width: 35vw;
    margin-left: 5vw;
    max-height: auto;
    overflow: hidden;
    font-family: Rubik;
    color: white;
    pointer-events: visiblePainted
 }
 div#texto-apresentacao > h1{
    font-size: 2.5vw;
    line-height: 3.5vw;
    margin-top: 3vw;
 }
 div#texto-apresentacao p{
    font-family: Samsung;
    line-height: 1.9vw;
    font-size: 1.4vw;
    margin-bottom: 3vw;
 }
 div#servicos {
    padding-bottom: 3vw;
 }
 div#itens {
     padding: 0 1vw;
     box-sizing: border-box;
     display: flex
 }
 div#itens > div {
     width: 15vw;
     float: left;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin: .5vw auto;
     padding: 1vw 0;
     transition: transform .5s, box-shadow .5s;
     cursor: pointer;
     border-radius: .5vw;
     text-align: center;
 }
 div#itens > div:hover {
   box-shadow: .04vw .65vw .5vw rgba(0,0,0,0.3);
   transform: translate3d(0, -.5vw, 0)
 }
 .shadow {
    box-shadow: .04vw .65vw .5vw rgba(0,0,0,0.3);
    transform: translate3d(0, -.5vw, 0)
}
 .display {display: block !important}
 div#itens div h1 {
    text-align: center;
    color: #151819;
    font-size: 1.5vw;
    margin: .5vw;
    width: 100%;
 }
 div#itens div img {
     width: 5vw;
     pointer-events: none;
 }
 div.serv {
    /* display: none; */
    /* max-height: 0; */
    display: block;
    width: 85%;
    margin: auto;
    overflow: hidden;
    transition: max-height 1s;
 }
 div.serv > h1 {
    font-size: 1.6vw
 }
 [data-animation]{
   opacity: 0;
   transition: transform 1s, opacity 1s;
 }
 [data-animation="top"]{
   transform: translate3d(0, 4vw, 0);
}
 [data-animation="bottom"]{
   transform: translate3d(0, -4vw, 0);
}
[data-animation].animate {
   transform: translate3d(0, 0, 0);
   opacity: 1;
}
div#empresa {
   color: white;
   background-color: #151819;
   padding-bottom: 4vw;
}
div#img-emp{
   position: relative;
   width: 100%;
   height: 30vw;
   display: flex;
   justify-content: center;
   align-items: center;
   background: url('../img/img-empresa2.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed
}
div#img-emp h1{
   z-index: 1;
}
div#img-emp::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.5);
}
div#equipe{
   width: 75vw;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
}
div#equipe > div {
   display: flex;
   align-items: center;
   flex-basis: 35vw;
   margin: 2.5vw auto;
}
div#equipe div > div.imgs {
   width: 6vw;
   border-radius: 50%;
}
div#equipe img {
   width: 6vw;
   border-radius: 50%;
}
div#equipe img.hover {
   width: 5vw;
   background-color:rgba(0,0,0,0.5);
   padding: 1vw;
   box-sizing: border-box;
   border-radius: 50%;
   opacity: 0;
   transition: opacity 1s, transform .5s;
   position: absolute;
}
div#equipe div > div > h1 {
   color: #4C4C4C;
   margin-left: 2.5vw;
   padding-right: 7vw;
   font-size: 1.5vw;
   cursor: default;
   opacity: 0;
   transition: opacity .5s
}
div#equipe p {
   margin-left: 2.5vw;
   font-size: 1vw;
   cursor: default
}
.translateEquipe {transform: translateX(6.5vw); transition: transform .5s}

div#contato {
   background-color: #090a0d;
   width: 100%;
}
div#info-contato {
   width: auto;
   margin: 5vw;
   color: white;
}
div#form {
   display: flex;
   flex-wrap: wrap;
}
.input {
   width: 55% !important;
   margin: 1vw auto;
   padding-left: 1vw;
   box-sizing: border-box;
   height: 3.5vw;
   border: .15vw solid #cacaca;
   border-radius: .5vw;
   font-size: 1vw;
   outline: none;
   transition: border-color .3s, background-color .3s;
}
textarea.input {
   padding-top: 1vw;
   min-height: 15vw;
   max-height: 25vw;
   resize: none;
}
.input:focus {
   border-color: #ed145b;
}
.input:hover {
   background-color: #dddddd
}
input[type='submit'].input{
   background-color: #ed145b;
   border: none;
   cursor: pointer;
   font-weight: bold
}
input[type='submit'].input:hover {
   background-color: #be114b
}
div#telefone {
   flex-basis: 55%;
   display: flex;
   margin: auto;
}
div#telefone #ddd {
   width: 20% !important
}
div#telefone #numero {
   margin-left: 2vw;
   width: 76% !important
}
div#info-contato div#abs-contato {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 1.5vw;
}
div#info-contato div#abs-contato div{
   margin: 0 2.5vw;
   display: flex;
   align-items: center;
   padding-bottom: 3vw;
}
div#info-contato div#abs-contato p {
   margin-left: 1vw;
   font-size: 1vw;
   text-align: center
}
div#info-contato div#abs-contato img {
   width: 2.2vw;
   pointer-events: none;
   transition: transform .5s, opacity .4s;
}
[data-icon_contato]{
   transform: translateY(3vw);
   opacity: 0;
}
[data-icon_contato].animate2 {
   transform: translateY(0);
   opacity: 1;
}
div#suporte{
   padding-bottom: 4vw;
}
div.pergunta {
   width: 60vw;
   max-height: 1.5em;
   margin: 0 auto 1.5vw auto;
   padding: 1.5vw;
   color: #4C4C4C;
   border-bottom: .15vw solid #cacaca;
   font-size: .7vw;
   overflow: hidden;
   cursor: pointer;
   position: relative;
}
.color {color: #ed145b !important}
.maxHeight{max-height: 16em !important}
div.pergunta h1, div.pergunta span {font-family: Samsung;}
div.pergunta:hover > h1 {
   color: #ed145b
}
div.pergunta h1 span {
   font-size: 2.5vw;
   position: absolute;
   top:1vw;   
   right: 1vw;
   transition: transform .4s
}
.rotate {transform: rotate(45deg)}
div.pergunta p {
   margin-top: 1.5vw;
   font-size: 1vw;
   line-height: 1.8vw;
}

div#comentarios {
   background-color: #151819;
   width: 100%;
}
div#formcomment{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   color: white;
   padding-bottom: 4vw;

}
form#comentario {
   width: 35vw;
}
form#comentario input, form#comentario textarea, form#comentario select {width: 100% !important}
form#comentario input, form#comentario select {
   height: 2.5vw !important;
}
form#comentario p {
   display: inline-block;
   margin-bottom: -1vw;
   width: 100%;
   font-size: 1.2vw;
}
form#comentario input[type='button']{
   background-color: #ed145b;
   border: none;
   cursor: pointer;
   font-weight: bold;
   padding-left: 0vw;
}
form#comentario input[type='button']:hover {
   background-color: #be114b
}
p.erro {
   color: red;
   visibility: hidden;
}
div#comments {
   width: 45vw;
   height: 35vw;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   padding-bottom: 4vw;
   box-shadow: 0 1.5vw 1.5vw rgba(0,0,0,0.5);
   border-radius: .5vw 0 0 .5vw;
   box-sizing: border-box;
   padding: 1vw 0;
}
div#comments::-webkit-scrollbar {
   background-color: rgba(0,0,0,0);
   width: .2vw;
}
div.roll {
   width: 20vw;
   background-color: #1d2122;
   margin: .8vw;
   font-size: .6vw;
   text-align: center;
   box-sizing: border-box;
   padding: 1vw;
   border-radius: .4vw;
   transition: transform 1s, background-color .3s;
   cursor: default;
   opacity: 0;
}
div.roll > h1 {color:#ed145b}
div.roll > h2 {
   font-size: 1vw;
   font-style: italic;
}
div.roll > p#msgComment {
   font-size: 1vw;
   text-align: left;
   margin: 1vw;
   color: #cacaca;
}
div.roll > p#horaComment {
   font-size: .8vw;
   text-align: right;
   position: absolute;
   bottom: .6vw;
   right: 1.5vw;
}
div.roll > img {
   width: 1vw;
   position: absolute;
   top: .8vw;
   right: 1vw;
   opacity: 0;
   transition: opacity .3s
}
div.roll:hover > img {
   opacity: 1;
}
div.roll > img:hover {
   cursor: pointer;
}
div.roll:hover {
   background-color: #2b3031;
}
[data-comment="left"]{
   transform: translate3d(-4vw, 0, 0);
}
[data-comment].animate4 {
   transform: translate3d(0, 0, 0) !important;
   opacity: 1 !important;
}
div#footer {
   width: 100%;
   height: 30vh;
   background-color: #151819;
   color: #cacaca;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   font-size: 1vw;
}
div#footer img {
   width: 5vw;
   pointer-events: none;
}