@charset "UTF-8";
@font-face{
    font-family: Rubik;
    src: url('fonts/Rubik-Regular.ttf')
}
@font-face {
    font-family: IBM Plex Mono;
    src: url('fonts/IBMPlexMono-Regular.ttf')
}
@font-face {
   font-family: Samsung;
   src: url('fonts/SamsungSharpSansRegular-Regular.ttf')
}
 * {
     margin: 0;
     padding: 0;
     overflow-x: hidden;
 }
 span {
    color: #ed145b
 }
 div#apresentacao{
    background-color: #151819;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
 }
 div#texto-apresentacao{
    width: 35vw;
    max-height: auto;
    overflow: hidden;
    font-family: Rubik;
    color: white;
    margin-left: 10vw;
    padding-right: 3vw;
 }
 div#texto-apresentacao > h1{
    font-size: 2.5vw;
    line-height: 3.5vw;
    margin-top: 3vw;
 }
 div#texto-apresentacao p{
    font-family: Samsung;
    line-height: 1.9vw;
    font-size: 1.4vw;
    margin-bottom: 3vw;
 }
 div#servicos {
    padding-bottom: 3vw;
 }
 div#servicos > h1 {
    font-family: Rubik;
    font-size: 4vw;
    width: 50vw;
    text-align: center;
    margin: 5vw auto;
 }
 div#itens {
     width: 100vw;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     padding: 0 5vw;
     box-sizing: border-box;
     padding-bottom: .4vw;
 }
 div#itens > div {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     margin: .5vw 1vw;
     padding: 2.5vw 0;
     flex-basis: 26vw;
     transition: transform .5s, box-shadow .5s;
     cursor: default;
     border-radius: .5vw;
 }
 div#itens div:hover {
   box-shadow: .04vw .65vw 1vw rgba(0,0,0,0.3);
   transform: translate3d(0, -.5vw, 0)
 }
 div#itens div h1 {
    font-family: Rubik;
    text-align: center;
    color: #151819;
    font-size: 2.2vw;
    text-shadow: .06vw .06vw black;
    margin: 1vw;
    width: 100%;
 }
 div#itens div p {
    font-size: 1.1vw;
    font-family: IBM Plex Mono;
    padding: 0 3vw;
 }
 div#itens div img {
     width: 6vw;
     pointer-events: none;
 }
 [data-animation]{
   opacity: 0;
   transition: transform 1s, opacity 1s;
 }
 [data-animation="left"]{
   transform: translate3d(-4vw, 0, 0);
   text-align: right;
}
 [data-animation="right"]{
   transform: translate3d(4vw, 0, 0);
   text-align: left;
}
 [data-animation="center"]{
   transform: translate3d(0, 2vw, 0);
   text-align: center;
}
 [data-animation="top"]{
   transform: translate3d(0, 4vw, 0)
}
 [data-animation="bottom"]{
   transform: translate3d(0, -4vw, 0)
}
[data-animation].animate {
   transform: translate3d(0, 0, 0);
   opacity: 1;
}
div#contato {
   background-color: #090a0d;
   width: 100vw;
}
div#info-contato {
   width: auto;
   margin: 5vw;
   font-family: Rubik;
   color: white;
}
div#info-contato h1 {
   font-size: 2.5vw;
   width: 100%;
   text-align: center;
   margin-bottom: 2.5vw;
}
div#form {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}
div#form input, textarea {
   width: 55%;
   margin: 2vh auto;
   padding-left: 1vw;
   box-sizing: border-box;
   height: 3.5vw;
   border: .15vw solid #cacaca;
   border-radius: .5vw;
   font-size: 1vw;
   outline: none;
   transition: .5s;
}
div#form textarea {
   padding-top: 1vw;
   height: 15vw;
   resize: vertical;
   min-height: 10vw;
}
div#form input:focus, textarea:focus {
   border-color: #ed145b;
}
div#form input[type='submit']{
   background-color: #ed145b;
   border: none;
   cursor: pointer;
   font-weight: bold
}
div#form input[type='submit']:hover {
   background-color: #be114b
}
div#telefone {
   flex-basis: 55%;
   display: flex;
   margin: auto;
}
div#telefone #ddd {
   width: 20%
}
div#telefone #numero {
   margin-left: 2vw;
   width: 100%
}
div#info-contato div#abs-contato {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 2vw;
}
div#info-contato div#abs-contato div{
   margin: 0 2.5vw;
   display: flex;
   align-items: center;
}
div#info-contato div#abs-contato p {
   margin-left: 1vw;
   font-size: 1vw;
   display: inline-block;
   text-align: center
}
div#info-contato div#abs-contato img {
   width: 2.2vw;
   pointer-events: none;
}
div#suporte{
   padding-bottom: 4vw;
}
div#suporte > h1 {
   margin: 4vw 0 1.5vw 0;
   text-align: center;
   font-family: Rubik;
   font-size: 3vw;
}
div.pergunta {
   width: 60vw;
   max-height: 1.5vw;
   margin: 1.5vw auto;
   padding: 1.5vw;
   color: #4C4C4C;
   border-bottom: .15vw solid #cacaca;
   font-size: .7vw;
   font-family: Samsung;
   overflow: hidden;
   transition: all .5s;
   cursor: pointer;
}
div.pergunta:hover > h1 {
   color: #ed145b
}
div.pergunta p {
   margin-top: 1.5vw;
   font-size: 1vw;
   line-height: 1.8vw;
   transition: .3s
}
.color {color: #ed145b !important}
.maxHeight{max-height: 12vw !important}