@charset "UTF-8";
@font-face{
    font-family: Rubik;
    src: url('fonts/Rubik-Regular.ttf')
}
@font-face {
    font-family: IBM Plex Mono;
    src: url('fonts/IBMPlexMono-Regular.ttf')
}
 * {
     margin: 0;
     padding: 0;
 }
 body {
     /* background: url('img/background.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     background-position: center; */
     background-color: #090a0d
 }
 header {
     padding: 2vw;
 }
 header img {
     width: 5vw;
     display: block;
     margin: auto;
     transition: all .3s;
 }
 header img:hover{
     transform: scale(1.2);
 }
 #boas-vindas {
     width: 80vw;
     margin: auto;
     box-sizing: border-box;
     text-align: center;
     margin-top:16vh;
 }
#boas-vindas p {
    font-family: IBM Plex Mono;
    width: 60vw;
    font-size: 1.5vw;
    margin: 1.5vw auto 3vw auto;
    color: #b0b2b3
 }
 #boas-vindas h1 {
    font-size: 3vw;
    margin-top: 2vw;
    font-family: 'Rubik';
    color: #ffffff
 }
 .btn-conheca {
     width: 12vw;
     font-family: monospace;
     font-size: 1.2vw;
     text-decoration: none;
     padding: 1vw;
     transition: all .3s;
     display: block;
     margin: auto;
     border-radius: 1vw;
     color: #ffffff;
     box-shadow: 0vw 0vw .4vw #ed145b;
     background-color: #ed145b;
 }
 .btn-conheca:hover {
    transform: scale(1.15);
 }
 #titulo::after{
     content: ' |';
     animation: pisca .7s infinite
 }
 @keyframes pisca{
     0%,100% {
         opacity: 0;
     }
     50% {
         opacity: 1;
     }
 }
 label[for='menu-check']{
     color:white;
     font-size: 3vw;
     cursor: pointer;
     position: absolute;
     top: 0;
     margin: .5vw 0 0 1.2vw;
     transition: all .3s;
     transform: scale(1);
     z-index: 1;
 }
 input[type='checkbox']{
     display: none;
 }
 input[type='checkbox']:checked ~ label{
     transform: rotate(-180deg);
     color: #ed145b;
     animation: none;
 }
 input[type='checkbox']:checked ~ div#menu {
     transform: translate3d(0,0,0);
 }
 div#menu{
     position: absolute;
     top:0;
     width: 20vw;
     height: 100vh;
     background-color: rgba(0,0,0,0.6);
     transform: translate3d(-20vw,0,0);
     transition: all 0.3s
 }
 div#menu li a{
    font-family: 'Rubik', sans-serif;
    font-size: 1.3vw;
    text-decoration: none;
    color: white;
    display: block;
    padding: 1.5vw;
    transition: all .3s
 }
 @media screen and (min-width:1050px) {
     div#menu li:hover a::after {
     content: ">";
     position: absolute;
     right: 1.5vw;
    }
 }
 div#menu li:hover a{
     background-color: #ed145b;
 }
 div#menu ul {
     margin-top: 5vw;
 }