@charset "UTF-8";
@font-face{
    font-family: Rubik;
    src: url('fonts/Rubik-Regular.ttf')
}
@font-face {
    font-family: IBM Plex Mono;
    src: url('fonts/IBMPlexMono-Regular.ttf')
}
@font-face {
   font-family: Samsung;
   src: url('fonts/SamsungSharpSansRegular-Regular.ttf')
}
 * {
     margin: 0;
     padding: 0;
     overflow-x: hidden;
 }
 header {
    width: 100%;
    position: absolute;
 }
 div#cabecalho {
    height: 100vh;
    width: 5vw;
    max-height: auto;
    background-color: #ed145b;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    padding: .5vw;
    padding-bottom: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    padding-bottom: .5vw;
    overflow: hidden;
 }
 div#cabecalho img {
    width: 3.5vw;
    border-radius: 50%;
    transition: transform .3s, box-shadow .3s;
 }
 div#cabecalho img:hover {
    transform: translateY(-.3vw);
    box-shadow: .0vw .2vw .2vw rgba(0,0,0,0.3);
 }
 div#cabecalho h1 {
    color: white;
    font-family: Samsung;
    font-size: 2.5vw;
    pointer-events: none;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
 }
label[for='menu-check']{
   color: white;
   font-size: 2.2vw;
   cursor: pointer;
   top: 0;
   transition: transform .1s;
   z-index: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: .2vw .85vw .5vw .85vw;
   border-radius: 50%;
   transform: translateY(-.3vw);
   box-shadow: .0vw .25vw .2vw rgba(0,0,0,0.3);
}
.btn-down{
   transform: translateY(0) !important;
   box-shadow: 0 0 0 !important;
 }
input[type='checkbox']{
   display: none;
}
input[type='checkbox']:checked ~ div#menu-drop {opacity: 0;}
div#menu-drop {
   width: 7vw;
   top: 3vw;
   right: 25.8vw;
   font-size: 1vw;
   position: absolute;
   color: white;
   background-color: white;
   transition: transform .3s;
   z-index: 1;
}
 span {
    color: #ed145b
 }
 div#apresentacao{
    background-color: #151819;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
 }
 div#apresentacao img {
   width: 45vw;
   margin-right: 2vw;
   pointer-events: none;
 }
 div#texto-apresentacao{
    width: 35vw;
    max-height: auto;
    overflow: hidden;
    font-family: Rubik;
    color: white;
    margin-left: 5vw;
 }
 div#texto-apresentacao > h1{
    font-size: 2.5vw;
    line-height: 3.5vw;
    margin-top: 3vw;
 }
 div#texto-apresentacao p{
    font-family: Samsung;
    line-height: 1.9vw;
    font-size: 1.4vw;
    margin-bottom: 3vw;
 }
 div#servicos {
    padding-bottom: 3vw;
    overflow: hidden;
 }
 div#servicos > h1 {
    font-family: Rubik;
    font-size: 4vw;
    width: 50vw;
    text-align: center;
    margin: 5vw auto;
 }
 div#itens {
     width: 100vw;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     padding: 0 5vw;
     box-sizing: border-box;
     padding-bottom: .4vw;
 }
 div#itens > div {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     margin: .5vw 1vw;
     padding: 2.5vw 0;
     flex-basis: 26vw;
     transition: transform .5s, box-shadow .5s;
     cursor: default;
     border-radius: .5vw;
 }
 div#itens div:hover {
   box-shadow: .04vw .65vw 1vw rgba(0,0,0,0.3);
   transform: translate3d(0, -.5vw, 0)
 }
 div#itens div h1 {
    font-family: Rubik;
    text-align: center;
    color: #151819;
    font-size: 2.2vw;
    text-shadow: .06vw .06vw black;
    margin: 1vw;
    width: 100%;
 }
 div#itens div p {
    font-size: 1.1vw;
    font-family: Samsung;
    line-height: 1.5vw;
    padding: 0 3vw;
 }
 div#itens div img {
     width: 6vw;
     pointer-events: none;
 }
 [data-animation]{
   opacity: 0;
   transition: transform 1s, opacity 1s;
 }
 [data-animation="left"]{
   transform: translate3d(-4vw, 0, 0);
   text-align: right;
}
 [data-animation="right"]{
   transform: translate3d(4vw, 0, 0);
   text-align: left;
}
 [data-animation="center"]{
   transform: translate3d(0, 2vw, 0);
   text-align: center;
}
 [data-animation="top"]{
   transform: translate3d(0, 4vw, 0)
}
 [data-animation="bottom"]{
   transform: translate3d(0, -4vw, 0)
}
[data-animation].animate {
   transform: translate3d(0, 0, 0);
   opacity: 1;
}
div#empresa {
   color: white;
   font-family: Rubik;
   background-color: #151819;
   padding-bottom: 3vw
}
div#img-emp{
   position: relative;
   width: 100%;
   height: 30vw;
   display: flex;
   justify-content: center;
   align-items: center;
   background: url('img/img-empresa2.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed
}
div#img-emp h1{
   z-index: 1;
}
div#img-emp::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.5);
}
div#equipe{
   width: 75vw;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
}
div#equipe > h1 {
   font-size: 3.5vw;
   color: white;
   margin: 5vw auto;
   text-align: center;
}
div#equipe > div {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   flex-basis: 35vw;
   padding-bottom: 1vw;
   margin: 3vw auto;
   border-bottom: .1vw solid white;
}
div#equipe div > div.imgs {
   width: 6vw;
   height: 6vw;
   border-radius: 50%;
   overflow: hidden;
   box-sizing: border-box;
}
div#equipe img {
   width: 6vw;
   border-radius: 50%;
   transition: transform .3s;
   box-sizing: border-box;
}
div#equipe img.hover {
   width: 6vw;
   background-color:rgba(0,0,0,0.5);
   padding: 1.5vw;
   box-sizing: border-box;
   border-radius: 50%;
   opacity: 0;
   transition: opacity .5s;
   position: absolute;
}
div#equipe div > div > h1 {
   color: #4C4C4C;
   margin-left: 2.5vw;
   transition: transform 1s, opacity .5s;
   opacity: 0;
   padding-right: 4vw;
   font-size: 2vw;
   cursor: default;
}
div#equipe p {
   margin-left: 2.5vw;
   font-size: 1vw;
}
[data-equipe]{
   transform: translate3d(4vw, 0, 0);
}
[data-equipe].animate3 {
   transform: translate3d(0, 0, 0);
   opacity: 1 !important;
}
div#contato {
   background-color: #090a0d;
   width: 100vw;
}
div#info-contato {
   width: auto;
   margin: 5vw;
   font-family: Rubik;
   color: white;
}
div#info-contato h1 {
   font-size: 2.5vw;
   width: 100%;
   text-align: center;
   margin-bottom: 2.5vw;
}
div#form {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}
div#form input, textarea {
   width: 55%;
   margin: 2vh auto;
   padding-left: 1vw;
   box-sizing: border-box;
   height: 3.5vw;
   border: .15vw solid #cacaca;
   border-radius: .5vw;
   font-size: 1vw;
   outline: none;
   transition: border-color .3s, background-color .5s;
}
div#form textarea {
   padding-top: 1vw;
   height: 15vw;
   resize: vertical;
   min-height: 10vw;
}
div#form input:focus, textarea:focus {
   border-color: #ed145b;
}
div#form input:hover, textarea:hover {
   background-color: #cacaca
}
div#form input[type='submit']{
   background-color: #ed145b;
   border: none;
   cursor: pointer;
   font-weight: bold
}
div#form input[type='submit']:hover {
   background-color: #be114b
}
div#telefone {
   flex-basis: 55%;
   display: flex;
   margin: auto;
}
div#telefone #ddd {
   width: 20%
}
div#telefone #numero {
   margin-left: 2vw;
   width: 100%
}
div#info-contato div#abs-contato {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 2vw;
}
div#info-contato div#abs-contato div{
   margin: 0 2.5vw;
   display: flex;
   align-items: center;
   padding-bottom: 3vw;
}
div#info-contato div#abs-contato p {
   margin-left: 1vw;
   font-size: 1vw;
   display: inline-block;
   text-align: center
}
div#info-contato div#abs-contato img {
   width: 2.2vw;
   pointer-events: none;
   transition: transform .5s, opacity .4s;
}
[data-icon_contato]{
   transform: translateY(3vw);
   opacity: 0;
}
[data-icon_contato].animate2 {
   transform: translateY(0);
   opacity: 1;
}
div#suporte{
   padding-bottom: 4vw;
}
div#suporte > h1 {
   margin: 4vw 0 1.5vw 0;
   text-align: center;
   font-family: Rubik;
   font-size: 3vw;
}
div.pergunta {
   width: 60vw;
   max-height: 1.5vw;
   margin: 1.5vw auto;
   padding: 1.5vw;
   color: #4C4C4C;
   border-bottom: .15vw solid #cacaca;
   font-size: .7vw;
   font-family: Samsung;
   overflow: hidden;
   transition: max-height .5s;
   cursor: pointer;
   position: relative;
}
div.pergunta h1 span {
   font-size: 2.5vw;
   position: absolute;
   top:1vw;   
   right: 1vw;
   transition: all .4s
}
.rotate {transform: rotate(45deg)}
div.pergunta:hover > h1 {
   color: #ed145b
}
div.pergunta p {
   margin-top: 1.5vw;
   font-size: 1vw;
   line-height: 1.8vw;
   transition: .3s
}
.color {color: #ed145b !important}
.maxHeight{max-height: 12vw !important}

div#comentarios {
   background-color: #151819;
   height: auto;
   width: 100%;
   overflow: auto;
}
div#comments {
   display: flex;
   background-color: aqua; 
   height: 100%;
   width: 100%;
   position: relative;
}
div#formcomment{
   width: 60vw;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   color: white;
   margin: auto;
   background-color: #4C4C4C
}
div#formcomment h1 {
   background-color: #ed145b;
   width: 100%;
   text-align: center;
}
div.roll {
   width: 10vw;
   height: 100px;
   background-color: white;
   margin: 2vw;
   float: left;
}
div#footer {
   width: 100%;
   height: 30vh;
   background-color: #151819;
   color: #cacaca;
   font-family: Rubik;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   font-size: 1vw;
}
div#footer img {
   width: 5vw;
   pointer-events: none;
}