<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Consultar - Beauty Place</title>
    <link rel="stylesheet" href="~/Content/styleconsultaR.css" />
</head>
<body>
        <div class="tudinho">
            <h1>CONSULTAR</h1>
            <a href="@Url.Action("ConsultarAgenda","Adm")" class="fTudinho botao">Agenda</a>
            <a href="@Url.Action("ConsultarPagamento","Adm")" class="fTudinho botao">Pagamentos</a>
            <a href="@Url.Action("ConsultarCliente","Adm")" class="fTudinho botao">Cliente</a>
            <a href="@Url.Action("ConsultarFuncionario","Adm")" class="fTudinho botao">Funcionário</a>
        </div>
</body>
</html>
