@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-Regular.ttf');
}
* {
    margin: 0;
    padding: 0;
}
a {text-decoration: none;}
body {
    font-family: 'Poppins';
    background-color: rgb(233, 234, 229);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.estoque{
    width:30vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.estoquemenor {
    border-radius: 1vw;
    padding: 1.5vw;
    background-color: rgb(182,213,240);
    position: relative;
}
.estoquemenor h1{
    font-size:1.5vw;
}
#btnconsulta {
    font-size: 1.5vw;
    padding: .3vw 1vw;
    color: black;
    background-color: rgb(106, 163, 212);
    cursor: pointer;
    transition: background-color .2s;
    border-radius: 50%;
    position:absolute;
    left:-1vw;
    top:-1vw;
}
#btnconsulta:hover {
    background-color: rgb(90, 168, 235);
}
table {
    min-width: 60vw;
    border-collapse: collapse;
    font-size: .9vw
}
th {
    text-align: center;
    padding: .5vw 1vw;
    background-color: rgb(182,213,240);
    border: none
}
td {
    padding: .5vw;
    text-align: center;
    margin: .5vw 0;
    border: none;
}
tr:nth-child(2n+1) {
    background-color: rgb(222, 222, 222)
}
tr td a img {
    width: 1vw
}
::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
footer{
    width:100%;
}