@charset "utf-8";

#main {
    margin: auto;
    font-family: Consolas;
    width: 30vw;
    max-height: auto;
    padding: 2vw;
    background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
input{
    margin:.5vw auto;
    width: 100%;
}