<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Criolipolise - Beauty Place</title>
    <link rel="stylesheet" href="~/Content/styleservicos.css"/>
</head>
<body>
    <div id="menu">
        <ul>
            <li>TRATAMENTOS CORPORAIS</li>
            <li>TRATAMENTOS FACIAIS</li>
            <li>TRATAMENTOS ESPECIAIS</li>
            <li>DIVERSOS</li>
        </ul>
    </div>
    <div class="divTitulo">
        <h1 class="titulo">CRIOLIPÓLISE</h1>
    </div>
    <div style="height: 50%;" class="tudo">
        <div class="image">
            <img src="~/Content/img/destaques/criolipolise.jpg">
        </div>
        <div style="padding-top: .8vw;" class="texto">
            <p>Criolipólise é uma técnica para tratamento de gordura localizada, que usa o frio para provocar a morte das células de gordura da região tratada.<br/><br/>Criolipólise é indicada para homens e mulheres que desejam tratar gordura localizada no abdômen (barriga), flancos, região superior das costas, braços, interno das coxas, acima do bumbum ou nos joelhos. Os homens podem fazer a aplicação no peito.<br/><br/>Este é um tratamento muito seguro, eficaz, com preço atrativo e ótimos resultados, inclusive comprovados cientificamente. O tratamento não utiliza agulhas e possui poucos relatos de dores pelos clientes, além disso pode ser feito em qualquer tipo de pele e em qualquer estação do ano.</p>
        </div>
    </div>
</body>
</html>