<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Limpeza de Pele - Beauty Place</title>
    <link rel="stylesheet" href="~/Content/styleservicos.css" />
</head>
<body>
    <div id="menu">
        <ul>
            <li>TRATAMENTOS CORPORAIS</li>
            <li>TRATAMENTOS FACIAIS</li>
            <li>TRATAMENTOS ESPECIAIS</li>
            <li>DIVERSOS</li>
        </ul>
    </div>
    <div class="divTitulo">
        <h1 class="titulo">LIMPEZA DE PELE</h1>
    </div>
    <div class="tudo">
        <div class="image">
            <img src="~/Content/img/destaques/limpeza2.jpg">
        </div>
        <div style="padding-top: 3vw;" class="texto">
            <p>A limpeza de pele profunda serve para remover cravos, impurezas, células mortas e milium da pele, que se caracteriza pelo aparecimento de pequenas bolinhas brancas ou amareladas na pele, principalmente, do rosto. Ela deve ser feita de 2 em 2 meses, no caso de peles normais a secas, e 1 vez por mês em peles mistas a oleosas e com cravos.<br/><br/>A limpeza de pele é indicada para todos os tipos de pele. Deve ser feita pelo menos uma vez por mês ou a cada quarenta dias, que é o período de renovação da pele. Se a pessoa tiver um numero grande de cravos pode ser feita com mais freqüência, até mesmo de 15 em 15 dias.<br/><br/>O procedimento pode ser realizado no corpo todo, se houver indicação, mas a face e o tronco são as áreas mais comuns.</p>
        </div>
    </div>
</body>
</html>