<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Endermoterapia - Beauty Place</title>
    <link rel="stylesheet" href="~/Content/styleservicos.css" />
</head>
<body>
    <div id="menu">
        <ul>
            <li>TRATAMENTOS CORPORAIS</li>
            <li>TRATAMENTOS FACIAIS</li>
            <li>TRATAMENTOS ESPECIAIS</li>
            <li>DIVERSOS</li>
        </ul>
    </div>
    <div class="divTitulo">
        <h1 class="titulo">ENDERMOTERAPIA</h1>
    </div>
    <div class="tudo">
        <div class="image">
            <img src="~/Content/img/destaques/endermo.jpg">
        </div>
        <div class="texto">
            <p>A endermoterapia, que também pode ser chamada de vacuoterapia, é uma técnica que pode ser considerada simples. Ela é reconhecida como uma aliada na redução de celulite, vasos e varizes e dentre as opções, pode ser reconhecida como uma das mais seguras, já que não oferece efeitos secundários. <br/><br/>Ela age sobre o sistema circulatório. A endermoterapia é realizada através do manuseio de um aparelho que contém 2 rolos para deslizar sem gerar atritos sobre a pele, favorecendo uma melhor sucção com a câmara de vácuo. O objetivo é formar uma prega cutânea devido à pressão negativa e vácuo entre os dois rolos contidos no aparelho. São realizadas massagens em diversos sentidos, o que estimula a circulação linfática.<br/><br/>A endermoterapia é recomendada para reduzir edemas após operações, contribuir a eliminação de fibroses e ainda combater o estresse.</p>
        </div>
    </div>
</body>
</html>