<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Depilação a Laser - Beauty Place</title>
    <link rel="stylesheet" href="~/Content/styleservicos.css" />
</head>
<body>
    <div id="menu">
        <ul>
            <li>TRATAMENTOS CORPORAIS</li>
            <li>TRATAMENTOS FACIAIS</li>
            <li>TRATAMENTOS ESPECIAIS</li>
            <li>DIVERSOS</li>
        </ul>
    </div>
    <div class="divTitulo">
        <h1 class="titulo">DEPILAÇÃO A LASER</h1>
    </div>
    <div class="tudo">
        <div class="image">
            <img src="~/Content/img/destaques/depilacao.jpg">
        </div>
        <div style="padding-top: 3vw;" class="texto">
            <p>A depilação a laser possui vantagens e benefícios, porém requer cuidados especiais para se ter um bom resultado. Na Clínica Bonapele Estética você conta com profissionais capacitados e equipamentos de última geração para garantir o resultado do seu procedimento.<br/><br/>A clínica de estética Beauty Place é especializada em depilação a laser de alta performance. Utilizamos equipamentos e tecnologia de ponta no processo de depilação de nossas clientes. Agende sua avaliação gratuíta e tire todas as suas dúvidas sobre esse incrível tratamento estético.<br/><br/>O procedimento pode ser realizado no corpo todo, se houver indicação, mas a face e o tronco são as áreas mais comuns.</p>
        </div>
    </div>
</body>
</html>