<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Radiofrequência - Beauty Place</title>
    <link rel="stylesheet" href="~/Content/styleservicos.css" />
</head>
<body>
    <div id="menu">
        <ul>
            <li>TRATAMENTOS CORPORAIS</li>
            <li>TRATAMENTOS FACIAIS</li>
            <li>TRATAMENTOS ESPECIAIS</li>
            <li>DIVERSOS</li>
        </ul>
    </div>
    <div class="divTitulo">
        <h1 class="titulo">RADIOFREQUÊNCIA</h1>
    </div>
    <div class="tudo">
        <div class="image">
            <img src="~/Content/img/destaques/radio.jpg">
        </div>
        <div style="padding-top: 1.5vw;" class="texto">
            <p>Radiofrequência é um tratamento de última geração com tecnologia tripolar, que tem como objetivo aumentar a temperatura do tecido, a fim de alcançar cerca de 40°C, desencadeando uma sequência de reações fisiológicas. O aquecimento do tecido o induz a aumentar a circulação e oxigenar melhor o local e estimula a formação de colágeno, aumentando a firmeza da pele e melhorando o aspecto da celulite.<br/><br/>A radiofrequência é indicada para o tratamento de flacidez, rugas, celulite e estrias. O procedimento também é muito indicado para tratar Fibroses e Aderências Cicatriciais.<br/><br/>O tratamento com Radiofrequência é rápido, indolor, pode ser feito em qualquer tipo de pele e em qualquer estação do ano. Os clientes sentem a diferença logo após a primeira sessão e, aliás, vale ressaltar que o procedimento não exige tempo de recuperação. Dentre os principais benefícios para o corpo estão a melhora da elasticidade e firmeza da pele, melhora do contorno corporal e do aspecto das celulites.</p>
        </div>
    </div>
</body>
</html>